/*
 Base css file. The compiled .css from this file should be the only file included on your web
*/

styl = "../../bower_components/leaf/styl/"

@import styl+"../js/libs/waves/waves.css"
@import styl+"../fonts/icomoon/style.css"

// Colors comment out those who are not desired
@import styl+"colors/red"
@import styl+"colors/pink"
@import styl+"colors/purple"
@import styl+"colors/deep-purple"
@import styl+"colors/indigo"
@import styl+"colors/light-blue"
@import styl+"colors/cyan"
@import styl+"colors/teal"
@import styl+"colors/green"
@import styl+"colors/light-green"
@import styl+"colors/lime"
@import styl+"colors/yellow"
@import styl+"colors/amber"
@import styl+"colors/orange"
@import styl+"colors/deep-orange"
@import styl+"colors/brown"

// Base colors, leave those
@import styl+"colors/blue"
@import styl+"colors/blue-grey"
@import styl+"colors/grey"

@import styl+"colors/black"
@import styl+"colors/white"

@import styl+"variables"

@import styl+"mixins"
@import styl+"nostyle"
@import styl+"normalize"
@import styl+"topbot"
@import styl+"crow"
@import styl+"forms"

// Compontents
@import styl+"components/button.styl"
@import styl+"components/card.styl"
@import styl+"components/circle.styl"
@import styl+"components/dropdown.styl"
@import styl+"components/image.styl"
@import styl+"components/list-item.styl"
@import styl+"components/modal.styl"
@import styl+"components/slider.styl"
@import styl+"components/switch.styl"
@import styl+"components/tile.styl"
@import styl+"components/notice.styl"
@import styl+"components/tabs.styl"

@import "topbot-modules"
@import "topbot-style"
@import "topbot-style-desktop"
@import "topbot-style-tablet"
@import "topbot-style-mobile"