/*
 Base css file. The compiled .css from this file should be the only file included on your web
*/

styl = "../../bower_components/leaf-css-framework/styl/"

@import styl+"../js/libs/waves/dist/waves.css"
@import styl+"../fonts/icomoon/style.css"

// Colors comment out those who are not desired
@import styl+"colors/red"
// @import styl+"colors/pink"
// @import styl+"colors/purple"
// @import styl+"colors/deep-purple"
// @import styl+"colors/indigo"
// @import styl+"colors/light-blue"
@import styl+"colors/cyan"
// @import styl+"colors/teal"
@import styl+"colors/green"
// @import styl+"colors/light-green"
// @import styl+"colors/lime"
// @import styl+"colors/yellow"
// @import styl+"colors/amber"
// @import styl+"colors/orange"
// @import styl+"colors/deep-orange"
// @import styl+"colors/brown"

// Base colors, leave those
@import styl+"colors/blue"
@import styl+"colors/blue-grey"
@import styl+"colors/grey"

@import styl+"colors/black"
@import styl+"colors/white"

@import styl+"variables"

@import styl+"mixins"
@import styl+"nostyle"
//@import styl+"normalize"
@import styl+"topbot"
@import styl+"crow"

// Compontents
@import styl+"components/forms"
@import styl+"components/button"
@import styl+"components/card"
// @import styl+"components/circle"
@import styl+"components/dropdown"
@import styl+"components/image"
// @import styl+"components/list-item"
@import styl+"components/modal"
// @import styl+"components/slider"
// @import styl+"components/switch"
@import styl+"components/tile"
// @import styl+"components/notice"
@import styl+"components/tabs"
// @import styl+"components/flipcard"

@import styl+"leaf-style"

@import "style"
@import "style-desktop"
@import "style-tablet"
@import "style-mobile"