body
  font-size: $font-size
  line-height: $line-height
  color: $text-color
  background-color: $bg-color

@media $smartphone
  .crow
    uncrow()

a
  text-decoration: none
  color: $link-color
  &:hover
    color: $link-hover-color

inline()
  display: inline-block
  *display: inline // IE7 inline-block hack
  *zoom: 1

ul
  &.inline
    list-style: none
    padding: 0
    margin: 0
    li
      inline()
  &.unstyled
    list-style: none
    padding: 0
    margin: 0
    li
      display: block

.icon
  inline()

.text-center
  text-align: center
  
.text-right
  text-align: right
  
.text-left
  text-align: left
  
.relative
  position: relative
  
.splash,
.absolute
  position: absolute
  
img
  width: 100%
  max-width: 100%
  
.image
  display: block
  line-height: 0

// Topbot specifics, remove everything below this line
/*
.show-smartphone
  display: none
.page-index
  #wrapper
    font-size: 250%
    line-height: 100%
    .fullwidth
      padding: 25px 0
      &:first-child
        padding: 100px 0
        p
          font-size: 75%
        .button
          width: 100%
          text-align: center
    h1
      font-weight: normal
    .keep-alive
      i
        font-size: 40px
      a
        font-size: 70px
        &:hover
          text-decoration: none
a
  &.link
    color:$main-color
.top
  a
    &:hover
      text-decoration: none
code
  word-break: break-all
  white-space: normal
ul
  li
    word-break: break-word
  &.nav
    width: 100%
    margin: 0
    li
      padding: 0
      a,
      strong
        padding: 10px 20px
        &.active
          background: $weak-color
.mod-row
  .mod
    base-padding(2.5px)
    &.mod-sizes
      &.s-100
        // code
      &.s-75
        // code
      &.s-66
        // code
      &.s-50
        // code
      &.s-33
        // code
      &.s-25
        // code