body
  &:before
    position: fixed
    visibility: hidden
    *display: none
    
// Topbot specifics, remove everything below this line
.show-smartphone
  display: none
.page-index
  #wrapper
    font-size: 250%
    line-height: 100%
    .fullwidth
      padding: 25px 0
      &:first-child
        padding: 100px 0
        border-bottom: 10px solid get-blue-grey(900)
        background-image: url('../image/bg-topbot.png')
        p
          font-size: 75%
        .button
          width: 100%
          text-align: center
          &:hover
            background: get-blue-grey(400)
    h1
      font-weight: normal
    .keep-alive
      i
        font-size: 40px
      a
        font-size: 70px
        &:hover
          text-decoration: none
        
a
  &.link
    color:$main-color
.top
  a
    &:hover
      text-decoration: none
code
  word-break: break-all
  white-space: normal
ul
  li
    word-break: break-word
  &.nav
    width: 100%
    margin: 0
    li
      padding: 0
      a,
      strong
        display: block
        padding: 10px 20px
        &.active
          background: $weak-color