body
  &:not(.page-modules)
    background-image: url('../image/topbot.png')
  &:before
    position: fixed
    visibility: hidden
    *display: none
    
// Topbot specifics, remove everything below this line
.show-smartphone
  display: none
.page-index
  h2
    font-weight: normal
  .keep-alive
    i
      font-size: 40px
    span
      font-size: 70px
a
  &.link
    color:$main-color
.top
  a
    &:hover
      text-decoration: none
code
  word-break: break-all
  white-space: normal
ul
  li
    word-break:break-word
  &.nav
    width:100%
    margin:0
    li
      padding:0;
      a,
      strong
        display:block
        padding:10px 20px
        &.active
          background: $weak-color