$white            = #fff
$gray             = #666666
$black            = #000

$blue             = #4d8daf
$text-blue        = #4d8daf

$main-color       = $blue

$link-color       = $blue
$link-hover-color = $blue
$text-color       = $black

$bg-color         = #fafafa

$font-family      = 'Open Sans', Arial
$font-size        = 18px
$line-height      = 26px

$desktop=                "(min-width: 1200px)"
$tablet=                 "(min-width: 768px) and (max-width: 1199px)"
$tablet-landscape=       "(orientation: landscape) and (min-width: 768px) and (max-width: 1199px)"
$tablet-portrait=        "(orientation: portrait) and (min-width: 768px) and (max-width: 1199px)"
$smartphone=             "(max-width: 767px)"
$smartphone-landscape=   "(orientation: landscape) and (max-width: 767px)"
$smartphone-portrait=    "(orientation: portrait) and (max-width: 767px)"
$landscape=              "(orientation: landscape)"
$portrait=               "(orientation: portrait)"