h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  margin-bottom:20px;
}
body {
  -webkit-font-smoothing:antialiased;
  &:before {
    position:fixed;
    visibility:hidden;
    *display:none;
  }
}
img {
  max-width:100%;
}
.text {
  overflow:hidden;
}
.block {
  display:block;
}
#wrapper {
  .fullwidth {
    height:100%;
    background:lighten(@gray-lighter, 5%);
  }
}
header, .top {
  .fullwidth {
    border-bottom:1px solid @gray-lighter;
  }
}
footer, .bot {
  .fullwidth {
    border-top:1px solid @gray-lighter;
  }
}
// Mixins
.font-size(@sizeValue) {
  @remValue: (@sizeValue / 10);
  @pxValue: @sizeValue;
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";

  @remLineHeightValue: (@remValue * 1.5);
  @pxLineHeightValue: (@pxValue * 1.5);

  line-height: ~"@{pxLineHeightValue}px"; 
  line-height: ~"@{remLineHeightValue}rem";
}
.line-height(@sizeValue) {
  @remValue: (@sizeValue / 10);
  @pxValue: @sizeValue;
  line-height: ~"@{pxValue}px"; 
  line-height: ~"@{remValue}rem";
}
.inline-block {
  display:inline-block;
  *display:inline;/* IE7 inline-block hack */
  *zoom:1;
}
.border-radius(@px) {
  -webkit-border-radius:@px;
  -moz-border-radius:@px;
  border-radius:@px;
}

// Topbot specifics, remove everything below this line
ul {
  li {
    word-break:break-word;
  }
  &.file-list {
    list-style:none;
    padding-left:10px;
    .directory {
      font-weight:bold;
      &:hover {
        cursor:pointer;
      }
    }
    ul {
      display:none;
      list-style:none;
      padding-left:10px;
    }
  }
}