@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?thkp15');
	src:url('fonts/icomoon.eot?#iefixthkp15') format('embedded-opentype'),
		url('fonts/icomoon.woff?thkp15') format('woff'),
		url('fonts/icomoon.ttf?thkp15') format('truetype'),
		url('fonts/icomoon.svg?thkp15#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
	content: "\e62a";
}

.icon-heart2:before {
	content: "\e626";
}

.icon-clock:before {
	content: "\e625";
}

.icon-circle:before {
	content: "\e627";
}

.icon-flag:before {
	content: "\e628";
}

.icon-clock-alt:before {
	content: "\e629";
}

.icon-thermo:before {
	content: "\e624";
}

.icon-logo:before {
	content: "\e623";
}

.icon-charging:before {
	content: "\e600";
}

.icon-wake-up:before {
	content: "\e601";
}

.icon-sleep-quality:before {
	content: "\e602";
}

.icon-sleep-tracker:before {
	content: "\e603";
}

.icon-benefits:before {
	content: "\e604";
}

.icon-zones:before {
	content: "\e605";
}

.icon-goal:before {
	content: "\e606";
}

.icon-calendar:before {
	content: "\e607";
}

.icon-monitoring:before {
	content: "\e608";
}

.icon-waterproof:before {
	content: "\e609";
}

.icon-feedback:before {
	content: "\e60a";
}

.icon-daily:before {
	content: "\e60b";
}

.icon-steps-distance:before {
	content: "\e60c";
}

.icon-steps:before {
	content: "\e60d";
}

.icon-alert:before {
	content: "\e60e";
}

.icon-motivators:before {
	content: "\e60f";
}

.icon-analyze:before {
	content: "\e610";
}

.icon-cogs:before {
	content: "\e611";
}

.icon-heart-sensor:before {
	content: "\e612";
}

.icon-smart-activity:before {
	content: "\e613";
}

.icon-daily-activity:before {
	content: "\e614";
}

.icon-box-arrow:before {
	content: "\e615";
}

.icon-heart-meter:before {
	content: "\e616";
}

.icon-heart:before {
	content: "\e617";
}

.icon-around-circle:before {
	content: "\e618";
}

.icon-runningman:before {
	content: "\e619";
}

.icon-camera:before {
	content: "\e61a";
}

.icon-volume-mute:before {
	content: "\e61b";
}

.icon-circle-menu:before {
	content: "\e61c";
}

.icon-close:before {
	content: "\e61d";
}

.icon-fullscreen:before {
	content: "\e61e";
}

.icon-volume:before {
	content: "\e61f";
}

.icon-pause:before {
	content: "\e620";
}

.icon-circle-menu-out:before {
	content: "\e621";
}

.icon-menu:before {
	content: "\e622";
}

