/*
	Author: Kim Korte
	Twitter: @kortekim
	Created: 25/01-2014
	Last modified: 12/03-2014
*/
/* Set to whatever font size is on body */
/* Set to how many columns you want enable for auto fly operation */
/* Set to percentages, defaults to 1,2,3,4,5 till 100 */
/* Set to the number of spans you want, default 12 */
/* Set to what gutter you want crow to use, to remove gutter use class "no-gutter", don't set this value to 0 */
*,
*:before,
*:after {
  box-sizing: border-box;
  /* Works for IE8+ */
}
.crow {
  text-align: center;
  height: 100%;
  font-size: 0;
  padding: 0 15px;
}
.crow .w-100 {
  width: 100%;
}
.crow .w-99 {
  width: 99%;
}
.crow .w-98 {
  width: 98%;
}
.crow .w-97 {
  width: 97%;
}
.crow .w-96 {
  width: 96%;
}
.crow .w-95 {
  width: 95%;
}
.crow .w-94 {
  width: 94%;
}
.crow .w-93 {
  width: 93%;
}
.crow .w-92 {
  width: 92%;
}
.crow .w-91 {
  width: 91%;
}
.crow .w-90 {
  width: 90%;
}
.crow .w-89 {
  width: 89%;
}
.crow .w-88 {
  width: 88%;
}
.crow .w-87 {
  width: 87%;
}
.crow .w-86 {
  width: 86%;
}
.crow .w-85 {
  width: 85%;
}
.crow .w-84 {
  width: 84%;
}
.crow .w-83 {
  width: 83%;
}
.crow .w-82 {
  width: 82%;
}
.crow .w-81 {
  width: 81%;
}
.crow .w-80 {
  width: 80%;
}
.crow .w-79 {
  width: 79%;
}
.crow .w-78 {
  width: 78%;
}
.crow .w-77 {
  width: 77%;
}
.crow .w-76 {
  width: 76%;
}
.crow .w-75 {
  width: 75%;
}
.crow .w-74 {
  width: 74%;
}
.crow .w-73 {
  width: 73%;
}
.crow .w-72 {
  width: 72%;
}
.crow .w-71 {
  width: 71%;
}
.crow .w-70 {
  width: 70%;
}
.crow .w-69 {
  width: 69%;
}
.crow .w-68 {
  width: 68%;
}
.crow .w-67 {
  width: 67%;
}
.crow .w-66 {
  width: 66%;
}
.crow .w-65 {
  width: 65%;
}
.crow .w-64 {
  width: 64%;
}
.crow .w-63 {
  width: 63%;
}
.crow .w-62 {
  width: 62%;
}
.crow .w-61 {
  width: 61%;
}
.crow .w-60 {
  width: 60%;
}
.crow .w-59 {
  width: 59%;
}
.crow .w-58 {
  width: 58%;
}
.crow .w-57 {
  width: 57%;
}
.crow .w-56 {
  width: 56%;
}
.crow .w-55 {
  width: 55%;
}
.crow .w-54 {
  width: 54%;
}
.crow .w-53 {
  width: 53%;
}
.crow .w-52 {
  width: 52%;
}
.crow .w-51 {
  width: 51%;
}
.crow .w-50 {
  width: 50%;
}
.crow .w-49 {
  width: 49%;
}
.crow .w-48 {
  width: 48%;
}
.crow .w-47 {
  width: 47%;
}
.crow .w-46 {
  width: 46%;
}
.crow .w-45 {
  width: 45%;
}
.crow .w-44 {
  width: 44%;
}
.crow .w-43 {
  width: 43%;
}
.crow .w-42 {
  width: 42%;
}
.crow .w-41 {
  width: 41%;
}
.crow .w-40 {
  width: 40%;
}
.crow .w-39 {
  width: 39%;
}
.crow .w-38 {
  width: 38%;
}
.crow .w-37 {
  width: 37%;
}
.crow .w-36 {
  width: 36%;
}
.crow .w-35 {
  width: 35%;
}
.crow .w-34 {
  width: 34%;
}
.crow .w-33 {
  width: 33%;
}
.crow .w-32 {
  width: 32%;
}
.crow .w-31 {
  width: 31%;
}
.crow .w-30 {
  width: 30%;
}
.crow .w-29 {
  width: 29%;
}
.crow .w-28 {
  width: 28%;
}
.crow .w-27 {
  width: 27%;
}
.crow .w-26 {
  width: 26%;
}
.crow .w-25 {
  width: 25%;
}
.crow .w-24 {
  width: 24%;
}
.crow .w-23 {
  width: 23%;
}
.crow .w-22 {
  width: 22%;
}
.crow .w-21 {
  width: 21%;
}
.crow .w-20 {
  width: 20%;
}
.crow .w-19 {
  width: 19%;
}
.crow .w-18 {
  width: 18%;
}
.crow .w-17 {
  width: 17%;
}
.crow .w-16 {
  width: 16%;
}
.crow .w-15 {
  width: 15%;
}
.crow .w-14 {
  width: 14%;
}
.crow .w-13 {
  width: 13%;
}
.crow .w-12 {
  width: 12%;
}
.crow .w-11 {
  width: 11%;
}
.crow .w-10 {
  width: 10%;
}
.crow .w-9 {
  width: 9%;
}
.crow .w-8 {
  width: 8%;
}
.crow .w-7 {
  width: 7%;
}
.crow .w-6 {
  width: 6%;
}
.crow .w-5 {
  width: 5%;
}
.crow .w-4 {
  width: 4%;
}
.crow .w-3 {
  width: 3%;
}
.crow .w-2 {
  width: 2%;
}
.crow .w-1 {
  width: 1%;
}
.crow .ws-12 {
  width: 100%;
}
.crow .ws-11 {
  width: 91.66666666666667%;
}
.crow .ws-10 {
  width: 83.33333333333333%;
}
.crow .ws-9 {
  width: 75%;
}
.crow .ws-8 {
  width: 66.66666666666667%;
}
.crow .ws-7 {
  width: 58.333333333333336%;
}
.crow .ws-6 {
  width: 50%;
}
.crow .ws-5 {
  width: 41.666666666666664%;
}
.crow .ws-4 {
  width: 33.333333333333336%;
}
.crow .ws-3 {
  width: 25%;
}
.crow .ws-2 {
  width: 16.666666666666668%;
}
.crow .ws-1 {
  width: 8.333333333333334%;
}
.crow .crow {
  text-align: center;
  font-size: 0;
  padding: 0;
}
.crow.fly > div:first-child:nth-last-child( 12),
.crow.fly > div:first-child:nth-last-child( 12) ~ div {
  width: 8.333333333333334%;
}
.crow.fly > div:first-child:nth-last-child( 11),
.crow.fly > div:first-child:nth-last-child( 11) ~ div {
  width: 9.090909090909092%;
}
.crow.fly > div:first-child:nth-last-child( 10),
.crow.fly > div:first-child:nth-last-child( 10) ~ div {
  width: 10%;
}
.crow.fly > div:first-child:nth-last-child( 9),
.crow.fly > div:first-child:nth-last-child( 9) ~ div {
  width: 11.11111111111111%;
}
.crow.fly > div:first-child:nth-last-child( 8),
.crow.fly > div:first-child:nth-last-child( 8) ~ div {
  width: 12.5%;
}
.crow.fly > div:first-child:nth-last-child( 7),
.crow.fly > div:first-child:nth-last-child( 7) ~ div {
  width: 14.285714285714286%;
}
.crow.fly > div:first-child:nth-last-child( 6),
.crow.fly > div:first-child:nth-last-child( 6) ~ div {
  width: 16.666666666666668%;
}
.crow.fly > div:first-child:nth-last-child( 5),
.crow.fly > div:first-child:nth-last-child( 5) ~ div {
  width: 20%;
}
.crow.fly > div:first-child:nth-last-child( 4),
.crow.fly > div:first-child:nth-last-child( 4) ~ div {
  width: 25%;
}
.crow.fly > div:first-child:nth-last-child( 3),
.crow.fly > div:first-child:nth-last-child( 3) ~ div {
  width: 33.333333333333336%;
}
.crow.fly > div:first-child:nth-last-child( 2),
.crow.fly > div:first-child:nth-last-child( 2) ~ div {
  width: 50%;
}
.crow.fly > div:first-child:nth-last-child( 1),
.crow.fly > div:first-child:nth-last-child( 1) ~ div {
  width: 100%;
}
.crow.no-gutter {
  padding: 0;
}
.crow.no-gutter > div {
  padding: 0;
}
.crow.up > div {
  vertical-align: top;
}
.crow.down > div {
  vertical-align: bottom;
}
.crow > div {
  vertical-align: middle;
  font-size: 14px;
  text-align: left;
  display: inline-block;
  padding: 0 15px;
}
.crow > div.up {
  vertical-align: top;
}
.crow > div.down {
  vertical-align: bottom;
}
.crow:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.container {
  padding: 0 15px;
}
.container > .crow {
  margin: 0 -15px;
  padding: 0 !important;
}
.destroy-all .container {
  width: auto;
}
.destroy-all .crow {
  height: auto !important;
}
.destroy-all .crow > div {
  display: block;
  width: auto !important;
}
.destroy-all .crow:before {
  content: '';
  display: none;
}
.destroy-crow.crow {
  height: auto;
}
.destroy-crow.crow > div {
  display: block;
  width: 100%;
}
.destroy-crow.crow:before {
  content: '';
  display: none;
}
/* Desktop only styles (desktops, 1200px and up) */
@media (min-width: 768px) and (max-width: 1199px) {
  body .container .crow > .crow.crow {
    height: auto;
  }
  body .container .crow > .crow.crow > div {
    display: block;
    width: 100%;
  }
  body .container .crow > .crow.crow:before {
    content: '';
    display: none;
  }
}
body #wrapper .crow.dev div {
  background: #eeeeee;
}
body #wrapper .crow.dev div div {
  background: #d5d5d5;
}
body #wrapper .crow.dev div div div {
  background: #bbbbbb;
}
body #wrapper .crow.dev div div div div {
  background: #a2a2a2;
}
body #wrapper .crow.dev div div div div div {
  background: #888888;
}
body #wrapper .crow.dev div div div div div div {
  background: #d5d5d5;
}
body #wrapper .crow.dev div div div div div div div {
  background: #bbbbbb;
}
body #wrapper .crow.dev div div div div div div div div {
  background: #a2a2a2;
}
body #wrapper .crow.dev div div div div div div div div div {
  background: #888888;
}
body #wrapper .crow.dev div div div div div div div div div div {
  background: #888888;
}
